@charset "utf-8";
body{
    margin: 0;
    padding: 0;
}
nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    top: 0px;
    background: rgba(26, 10, 46, 0.7);
    backdrop-filter: blur(15px);
    overflow: hidden;
    font-size: 20px;
    color: rgb(234, 247, 255);
    opacity: 0.8;
    z-index: 1000;
}
.homenav{
    animation: load2 1s linear;
}

nav:hover{
    opacity: 0.95;
}
nav .navtitle{
    padding-left: 50px;
    width: 30%;
}
nav .navtitle strong{
    font-size: 50px;
    font-weight: bolder;
}
nav a{
   display: block;
   justify-content: center;
   text-decoration: none;
   position: relative;
   z-index: 10;
   height: inherit;
   line-height: 70px;
   width: 120px;
   text-align: center;
   font-weight: bolder;
   color: rgba(255, 255, 255, 0.9);
   transition: 0.5s;
}
nav .navanim{
    position: absolute;
    height: inherit;
    z-index: 5;
    background: rgba(139, 0, 255, 0.3);
    border-radius: 5px;
    left: 0px;
    transition:  all .5s ease 0s;
    width: 120px;
}
nav .home,a:nth-child(2):hover~.navanim{
    width: 120px;
    left: 535px;
}

nav .about,a:nth-child(3):hover~.navanim{
    width: 120px;
    left: 670px;
}

nav .blog,a:nth-child(4):hover~.navanim{
    width: 120px;
    left: 810px;
}

nav .album,a:nth-child(5):hover~.navanim{
    width: 120px;
    left: 950px;
}
nav .join,a:nth-child(6):hover~.navanim{
    width: 120px;
    left: 1085px;
}
nav .none{
    width: 20%;
}

@keyframes load2{
    0%{
        top: -80px;
        opacity: 0;
    }100%{
        top: 0px;
        opacity: 0.8;
    }
}